body {
    background-color:slategray;
    color:whitesmoke;
    font-family: 'Oswald', sans-serif;
  }
  .links:link{
    color:whitesmoke;
  }
  .links:hover{
    color:whitesmoke;
  }
  .links:active{
    color:whitesmoke;
  }
  .links:visited{
    color:whitesmoke;
  }